[submodule "random-qoute"]
	path = random-qoute
	url = https://github.com/AhmedBedeir/random-qoute
[submodule "markdown-preview"]
	path = markdown-preview
	url = https://github.com/AhmedBedeir/markdown-preview
[submodule "drum-machine"]
	path = drum-machine
	url = https://github.com/AhmedBedeir/drum-machine
[submodule "calculator"]
	path = calculator
	url = https://github.com/AhmedBedeir/calculator
